VITE_API_URL=http://localhost:8000
VITE_USE_DEV_LOGIN=true
VITE_DEV_TELEGRAM_ID=999999999
VITE_PLATFORM_TARGET=auto
VITE_SUPPORT_URL=https://t.me/maiiamk
VITE_SUPPORT_LABEL=@maiiamk
VITE_SUPPORT_URL_TELEGRAM=
VITE_SUPPORT_LABEL_TELEGRAM=
VITE_SUPPORT_URL_VK=
VITE_SUPPORT_LABEL_VK=
VITE_YANDEX_METRICA_ID=
