APP_NAME=TG MiniApp API
ENV=dev

DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/tg_miniapp

JWT_SECRET=replace-with-a-long-random-secret
JWT_ALG=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

TELEGRAM_BOT_TOKEN=put_bot_token_here

DEBUG=true
ALLOW_DEV_LOGIN=true

CORS_ORIGINS=http://localhost:5173,http://localhost:3000
